bitbake.lock
pseudodone
cache/
conf/sanity_info
build.log
downloads/
fetch.conf
sstate-cache/
tmp-glibc/
build.sh
conf/local.conf
conf/bblayers.conf
conf/auto.conf
conf/site.conf
environment.sh
LAYERS
LAYERS.json
